<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}" />
    <link
      href="{{ url_for('static',  filename='css/chatbot.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',  filename='css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/landingPage.css')}}">
    <title>{{title}}</title>
  </head>
  <body>
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                       <h2>Devarx</h2>
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="/about_us">About Us</a></li>
                      <li class="scroll-to-section"><a href="#projects">Projects</a></li>
                      <li class="scroll-to-section"><a href="#infos">Infos</a></li>
                      <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                  </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
  </header>
  {% for message in get_flashed_messages(with_categories=True) %}
    <p class="alert alert-{{message[0]}} m-0 flash_message">{{ message[1] }}</p>
  {% endfor %}

    <div class="fabs">
      <div class="chat">
        <div class="chat_header">
          <div class="chat_option">
            <div class="header_img">
              <img
                src="https://media.istockphoto.com/id/1350820098/photo/cute-blue-robot-giving-thumbs-up-3d.jpg?s=170667a&w=0&k=20&c=OK-BXEECBj7wVnYVH_9VSio6l2Kd0kzG_4J7BiGnLck="
              />
            </div>
            <span id="chat_head">DEV-ARX</span> <br />
            <span class="agent">Bot</span> <span class="online">Online</span>
          </div>
        </div>
        <div class="chat_body chat_login">
          <p>
            It's a chatbot integrated by DevArx Team available at any time. Feel
            free to Ask it anything :)
          </p>
        </div>
        <div id="chats"></div>
        <form id="messageArea" class="chat-bot-form">
          <input
            id="text"
            name="chat-input"
            placeholder="Send a message"
            class="chat_field chat_message"
          />
          <button
            type="submit"
            id="fab_send"
            hidden
          >
        </button>
        </form>
      </div>
      <a id="prime" class="fab"
        ><i class="prime zmdi zmdi-comment-outline"></i
      ></a>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatbot.js')}}"></script>
{% block content%}{% endblock %}
{% if not session.get("id")%}
<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <img src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png" alt="footer_logo" class="img-fluid">
                        </a>
                        <p class="footer_paragraph footer-info-text">
                           Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Jaipur India</h3>
                                    <p class="footer_paragraph">5353 Road Avenue</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>95 711 9 5353</h3>
                                    <p class="footer_paragraph">Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Team</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="/faq">Faq</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p class="footer_paragraph"><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2019, All Right Reserved Seobin</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
</footer>
{% endif %}
  </body>

  <script>
    $(document).ready(function () {
      $("#messageArea").on("submit", function (event) {
        const date = new Date();
        const hour = date.getHours();
        const minute = date.getMinutes();
        const str_time = hour + ":" + minute;
        var rawText = $("#text").val();

        var userHtml = `<div id="chat_form_user" class="chat_form"><span class="chat_msg_item chat_msg_item_user"> ${rawText}</span>
            <span class="status"> ${str_time}</span></div>`;

        $("#text").val("");
        $("#chats").append(userHtml);

        $.ajax({
          data: {
            mssg: rawText,
          },
          type: "POST",
          url: "/get",
        }).done(function (data) {
          var botHtml = `<div id="chat_form_admin" class="chat_form"><div class="chat_msg_item">${data}</div>
                    <span class="status">${str_time}</span></div>`;
          $("#chats").append(botHtml);
        });
        event.preventDefault();
      });
    });
    flash = document.getElementsByClassName('flash_message')
    setTimeout(()=>{
        for(let i =0; i < flash.length; i++){
            flash[i].remove();
        }
        if (flash.length == 1) {
            flash[0].remove()
        }
    },5000)
  </script>
</html>
