{% extends "base.html" %}
{% block content %}
<form action="/editProfile" method="POST" enctype="multipart/form-data">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right" id="dpDiv">
                    <input type='file' name="dp_file" class='input-file' id="dpInp" hidden>
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="my-4" width="150px" src="{{profileData.profile_photo}}"><span class="font-weight-bold">{{profileData.username}}</span><span class="text-black-50">{{profileData.email}}</span><span> </span>
                        <i onclick="takeDpInput()" id='input_btn' class="fa fa-camera cam camera_icon"></i>
                    </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Edit Your Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input name="firstname" type="text" class="form-control" placeholder="first name" value="{{profileData.firstname}}"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input name="lastname" type="text" class="form-control" value="{{profileData.lastname}}" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">About</label><input name="about" type="text" class="form-control" placeholder="enter about" value="{{profileData.about}}"></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input name="phone_number" type="number" class="form-control" placeholder="03XX XXXXXXX" value="{{profileData.phone_number}}"></div>
                        <div class="col-md-12"><label class="labels">Address</label><input name="address" type="text" class="form-control" placeholder="address" value="{{profileData.address}}"></div>
                        <div class="col-md-12"><label class="labels">Education</label><input name="education" type="text" class="form-control" placeholder="education" value="{{profileData.education}}"></div>
                        <div class="col-md-12"><label class="labels">Institution</label><input name="institution" type="text" class="form-control" placeholder="enter institution of education" value="{{profileData.institution}}"></div>
                        <div class="col-md-12"><label class="labels">Interests</label><input name="interests" type="text" class="form-control" placeholder="gaming reading coding ( comma seperated )" value="{{profileData.interests}}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input name="country" type="text" class="form-control" placeholder="country" value="{{profileData.country}}"></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input name="state" type="text" class="form-control" value="{{profileData.state}}" placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Field</label><input name="experience" type="text" class="form-control" placeholder="experience" value="{{profileData.experience}}"></div> <br>
                    <div class="col-md-12"><label class="labels">Any Additional Detail</label><input name="additional_details" type="text" class="form-control" placeholder="additional details" value="{{profileData.additional_details}}"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</form>
<script>
    function takeDpInput() {
        let dpInp = document.getElementById('dpInp').click();
        let dpForm = document.getElementById('dpDiv');
        console.log("dpForm:", dpForm);
        let sbt = document.getElementById('sbt');
        if (sbt != null) sbt.remove();
        let y = document.createElement("input");
        y.setAttribute("type", "submit");
        y.setAttribute("placeholder", "submit");
        y.setAttribute("id", "sbt");
        dpForm.append(y);
    }
</script>
{% endblock %}
