{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/recentChats.css')}}">
<div class="messaging">
    <aside class="recents">
        <form action="/chat" method="POST">
            <ul>
                {% if connections != None and connections != [] %}
                {% for connection in connections %}
                <button type="submit" class="recentsBtn" name="id" value="{{connection[0]}}" >
                    <li>
                        <input value="{{connection[0]}}" name="id" hidden>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_05.jpg" alt="">
                        <div>
                            <h2>{{ connection[1]}}</h2>
                        </div>
                    </li>
                </button>
                <hr>
                {% endfor %}
                {% endif %}
            </ul>
        </form>
        </aside>
      <div class="mssgs">
        <div class="msg_history" id="msg_history">
        </div>
       <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" id="message" name="message" />
            <button type="button" class="msg_send_btn" id="send_btn" onclick="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
    </div>
  </div>

<script type="text/javascript">

    var socketIO = io.connect();

    const messageContainer = document.getElementById("msg_history")
    // messageContainer.scrollTop = messageContainer.scrollHeight;

    const showJoinOrLeave= (name, message) => {
       const content = `
        <div class="text-center m-4">
            <small class="text-muted">${name} ${message}</small>
        </div>
       `
       messageContainer.innerHTML += content;
    }
    socketIO.on("joinOrLeave", data => showJoinOrLeave(data.name, data.message))

    const showMessage = ({name, message, date}) => {
        let content = '';
        if (name != "{{ current_user }}")
        {
            content = `
            <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="User"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>${message}</p>
                            <span class="time_date"> ${date}</span>
                            <span class="incoming_msg_username"> ${"  " + name}</span>
                    </div>
                </div>
            </div>`
            }
            else
            {
                content = `
                <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>${message}</p>
                        <span class="time_date"> ${date}</span> </div>
                    </div>
                    `
                }
                messageContainer.innerHTML += content;
            }

            socketIO.on("show_message", (data) => showMessage(data))

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "")
            return
        socketIO.emit("send_message", message.value)
        message.value = ""
    }
</script>

{% endblock %}
