{% extends "base.html" %}
{% block content%}
    <div class="container_bg">
        <div class="form_container">
    <div class="parent_signup">
    <form  class="form" method="post" action="/signup">
        {{ form.hidden_tag() }}
            <legend class=" legend border-bottom mb-4">Create An Account</legend>
    <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.username(class="form-control") }}
            {% endif %}
    </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form-control") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>

        <div class="field-group">
            {{ form.submit(class="btn submit__btn") }}
        </div>
    </form>
    <div class="signup_content">
        <h1 class="content_title">DevArx</h1>
        <p class="paragraph">Unlock the Power of Technology with DevArx<br> Your Trusted Partner in Software Development Excellence</p>
    </div>
    </div>
</div>
    </div>
{% endblock %}
